./config
./tax_pdfs
**/__pycache__
*.org
build
dist
*.egg-info
Utils
docsource
*.doctree
**/.doctrees
fava_tax_payment.code-workspace
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.lzo
*.tar.zst
*.tar.lzop
*.tar.lz4
*.tar.lz4c
*.tar.lz4f
*.tar.lz4c
.changelog-config.yaml
