PyPDF2==3.0.1 
flask==3.0.3
jinja2==3.1.4
beancount-reds-plugins==0.3.0
fava-plugins==1.0

# Manual specification of python-dateutil is a workaround for https://github.com/yegle/fava-docker/issues/39
python-dateutil==2.8.2
beancount-periodic==0.1.2